---
import Layout from '~/layouts/PageLayout.astro';

import HeroCustom from '~/components/widgets/HeroCustom.astro';
import Icon from 'node_modules/astro-icon/components/Icon.astro';
import HomeSearchForm from '~/components/custom/HomeSearchForm';
import Requests from '~/components/custom/Requests';
import World from '~/components/custom/World';

const metadata = {
  title: 'assets.parf.ai — Demo project to detect anomalies in cookies',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <HeroCustom>
    <Fragment slot="title">
      <span class="text-[#df6d0c] highlight">3D assets generation</span> - demo <span class="ml-1 inline-block"
        ><Icon name="tabler:cube" /></span
      >
    </Fragment>

    <Fragment slot="subtitle">
      <span class="sm:inline">
        A mix of <a href="https://stability.ai/" class="underline" target="_blank">Stability.ai</a> and <a
          href="https://github.com/TencentARC/InstantMesh"
          class="underline"
          target="_blank">Instant Mesh</a
        > using the compute resources from <a
          href="https://huggingface.co/spaces/ThomasSimonini/Roblox-3D-Assets-Generator-v1"
          class="underline"
          target="_blank">Huggingface.co</a
        >.
      </span>
      <div class="max-w-xs sm:max-w-md mx-auto flex flex-col sm:flex-row gap-2">
        <div class="relative flex-1 flex flex-row">
          <HomeSearchForm client:load />
        </div>
      </div>
    </Fragment>
  </HeroCustom>

  <Requests client:load />
  <World client:load />
</Layout>
